@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  align-content: center;
}

p{
  font-size: medium;
  font-weight: 500;
}

.section-1{
  background-image: url("/img/backgrounds/h_img.jpg ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  text-align: center;
  align-content: center;
  color: #ffffff;
}

.logo{
  margin-top:13em;
  width: 4em;
}

.welcome-message{
  font-size: 3em;
  margin-top: 1em;
}

.mouse-click{
  margin-top: 2em;
  margin-bottom: 4em;
  width: 20px;
}

.section-2{
  margin-top: 50px;
  line-height: 2.0;
}

.section-2 .heading{
  margin-top: 1em;
  margin-bottom: 1em;
}

.section-3{
  background-image: url("/img/backgrounds/s_image.jpg");
  background-size: 100% 20em;
  background-repeat: no-repeat;
  color: #ffffff;
}
.section-3 .container{
  padding-top:3em;
  padding-bottom:3em;
}
.services-heading {
  margin-top: 2em;
  margin-bottom: 2em;
}


